@import url(reset.css);
html{
    font-size: 62.5%;
}
body{
    background: #1352a2;
    font-family: 'Play', sans-serif;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

button{
    width: 6rem;
    height: 6rem;
    display: block;
    background: #f26963;
	border-radius: 10%;
    cursor: pointer;
    margin: 0 auto;
    top: 40rem;
    position: relative;
    border: 0.2rem white solid;
}
button::after{
    content: '';
    display: block;
    position: relative;
    margin: 0 auto;
    width: 90%;
    height: 90%;
    background: url(img/refresh.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.animate::after{
    animation: rotate 0.5s;
}
p{
    display: block;
    position: relative;
    margin: 0 auto;
    color: #ffd464;
    animation: left 0.5s;
    animation: show 1s;
    text-align: center;
}
.line1{
    font-size: 3rem;
    font-weight: 700;
}
.line1::after{
    content: ':';
}
.line2{
    font-size: 2rem;
    line-height: 2.5rem;
    padding-right: 30vw;
    padding-left: 30vw;
    margin-top: 1.5rem;
}

@keyframes rotate {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg);}
}
@keyframes show {
    0% { opacity: 0;}
    100% { opacity: 1;}
}

@media only screen and (max-width: 750px){
    .line1{
        font-size: 2.5rem;
    }
    .line2{
        font-size: 1.5rem;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
}
@media only screen and (max-height: 600px){
    button{
        top: 70vh;
    }
}
@media only screen and (max-height: 450px){
    button{
        top: 40rem;
    }
}