@import url(reset.css);
html{
    font-size: 62.5%;
}
body{
    font-family: 'Play', sans-serif;
}
.before{
    display: block;
    height: 10vh;
    min-height: 6rem;
}
.buy, .submit{
    cursor: pointer;
    background: #457393;
    transition: 0.3s;
    border: 0.1rem #29475f solid;
}
.buy:hover, .submit:hover{    
    background: #2f88a7;
}
nav{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    height: 10vh;
    min-height: 6rem;
    width: 100%;
    box-shadow: 0.1rem 0.1rem 1rem;
    background: white;
    z-index: 999;
    top: 0;
}
.logo{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}
.image{
    height: 70%;
    margin: 0 0 0 1.5rem;
}
.name{
    font-size: 2rem;
    font-weight: 600;
    margin: 0 0 0 0.5rem;
    color: black;
}
.backgroundEl{
    font-size: 2.5rem;
    font-weight: 500;
    margin: 1rem;
    text-decoration: none;
    color: black;
}
.backgroundEl:hover{
    color: #457393;
}
.payment{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    color: #29475f;
    margin: 0 0 1.1rem 0;
}
h2{
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    color: #29475f;
    margin: 0 auto 1.1rem auto;
    line-height: 2rem;
    width: 90%;
}
h3{
    font-size: 2.5rem;
    font-weight: 500;
    color: #c7b29b;
    text-align: center;
    margin: 0 0 1.5rem 0;
}
h4{
    font-size: 2rem;
    font-weight: 500;
    color: #457393;
    text-align: center;
    margin: 0 0 1.5rem 0;
}
ul{
    box-shadow: 0.1rem 0.1rem 0.5rem;
    padding: 1rem;
    border-radius: 1rem;
    margin: 1.7rem;
}
li{
    display: block;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0.2rem;
}
li::before{
    content: '';
    display: inline-block;
    height: 2rem;
    width: 2rem;
    position: relative;
    top: 0.4rem;
    margin: 0.3rem 1rem 0 0;
}
.yes::before{
    background: url(img/yes.svg);
    background-size: contain;
}
.no::before{
    background: url(img/no.svg);
    background-size: contain;
}
.buy{
    width: 80%;
    border-radius: 1rem;
    height: 3rem;
    font-family: 'Play', sans-serif;
    font-weight: 600;
    color: #c7b29b;
    margin: 2rem 0 0 2.5rem;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}
.photoContent{
    width: 36%;
    margin: 0 auto;
    order: 1;
}
.title{
    order: 4;
}
.start{
    width: 6rem;
    height: 6rem;
    background: #457393;
    display: block;
	border-radius: 10%;
    cursor: pointer;
    position: relative;
    order: 5;
}
.start::after{
    content: '';
    display: block;
    position: relative;
    margin: 0 auto;
    width: 80%;
    height: 80%;
    background: url(img/refresh.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.animate::after{
    animation: rotate 0.5s;
}
.line1{
    font-size: 3rem;
    font-weight: 700;
    position: absolute;
    color: white;
    top: 27%;
    order: 2;
    text-shadow: 0.3rem 0.3rem 0.5rem black;
    animation: show 1s;
    text-align: center;
}
.line2{
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 600;
    order: 3;
    min-height: 16rem;
    width: 34%;
    margin: 3rem 0 0 0;
    animation: show 1s;
    text-align: center;
    color: black;
}
.portrait{
    height: 10rem;
    width: 10rem;
    margin: 2rem 2rem 0 0;
}
.team{
    display: flex;
    flex-direction: column;
}
.person{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 0 2rem 0;
}
.last{
    margin: 0 0 0 0;
}
.about{
    color: #29475f;
    text-align: left;
    font-size: 1.5rem;
    width: 60%;
    line-height: 2rem;
    margin: 2rem 0 0 0;
}
.instagram{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 600;
    font-size: 1.7rem;
    text-decoration: none;
    color: #29475f;
}
.instagram:hover{
    color: #2f88a7;
}
.instagram::after{
    content: '';
    display: block;
    width: 2rem;
    height: 2rem;
    margin: 0 0 0 0.3rem;
    background: url(img/instagram.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    width: 80%;
    margin: 0 auto 2rem auto;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0.1rem 0.1rem 1rem;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}
input, textarea{
    width: 95%;
    height: 2.5rem;
    border-radius: 1rem;
    border: 0.2rem #c7b29b solid;
    font-family: 'Play', sans-serif;
}
label{
    font-weight: 500;
    font-size: 1.7rem;
    color: #29475f;
    margin: 0.5rem;
    align-self: center;
}
textarea{
    height: 12rem;
    resize: none;
}
.submit{
    width: 90%;
    border-radius: 1rem;
    margin: 1rem 0 2rem 0;
    height: 2.5rem;
    font-family: 'Play', sans-serif;
    font-weight: 600;
    color: #c7b29b;
}
footer{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    height: 10vh;
    min-height: 6rem;
    background: #29475f;
}
.right{
    color: white;
    font-size: 1.5rem;
    margin: 0 2rem 0 0;
}
.share{
    display: block;
    position: fixed;
    height: 8rem;
    width: 8rem;
    bottom: 10rem;
    right: 5rem;
    cursor: pointer;
}
.cover{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #c7b29b;
    border-radius: 50%;
    box-shadow: 0.1rem 0.1rem 1rem;
    z-index: 99;
}
.share::after{
    content: '';
    display: block;
    position: absolute;
    width: 80%;
    height: 80%;
    background: url(img/share.svg);
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 1rem;
    right: 0.5rem;
    transform: rotate(180deg);
    z-index: 99;
}
.facebook, .twitter{
    display: block;
    height: 5rem;
    width: 5rem;
    background: #c7b29b;
    border-radius: 50%;
    position: absolute;
    transition: 0.4s;
    box-shadow: 0.1rem 0.1rem 1rem black;
}
.facebook{
    bottom: 5rem;
    right: 8rem;
}
.twitter{
    bottom: -2rem;
    right: 8rem;
}
.facebook::after, .twitter::after{
    content: '';
    display: block;
    width: 80%;
    height: 80%;
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
}
.facebook::after{
    background: url(img/facebook.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.twitter::after{
    background: url(img/twitter.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.none{
    bottom: 1rem;
    right: 1rem;
}


@keyframes rotate {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg);}
}
@keyframes show {
    0% { opacity: 0;}
    100% { opacity: 1;}
}
@media only screen and (max-width: 1500px){
    .photoContent{
        width: 50%;
    }
    .line2{
        font-size: 1.8rem;
        width: 45%;
    }
}
@media only screen and (max-width: 1200px){
    .photoContent{
        width: 60%;
    }
    .line2{
        font-size: 1.8rem;
        width: 55%;
    }
    .share{
        display: none;
    }
}
@media only screen and (max-width: 1000px){
    .photoContent{
        width: 80%;
    }
    .line2{
        font-size: 1.8rem;
        width: 75%;
    }
}
@media only screen and (max-width: 850px){
    .before{
        height: 6rem;
    }
    .hamburger{
        display: block;
        width: 4rem;
        height: 4rem;
        margin: 0 1.5rem 0 0;
    }
    .hamburger::after, .hamburger::before{
        content: '';
        display: block;
        width: 4rem;
        height: 0.5rem;
        background: black;
        position: absolute;
        transition: 0.5s;
    }
    .hamburger::after{
        top: 35%
     }
    .hamburger::before{
         top: 55%;
     }
    .clouse::after{
        transform: rotate(225deg);
        top: 45%;
    }
    .clouse::before{
        transform: rotate(-225deg);
        top: 45%;
    }
    .background{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        background: white;
        opacity: 0.9;
        top: 85%;
        padding: 2rem;
        border-radius: 1rem;
        right: -50rem;
        transition: 0.4s;
    }
    .show{
        right: 0;
    }
    nav{
        height: 6rem;
    }
    .line1{
        font-size: 2.8rem;
    }
    .line2{
        font-size: 1.8rem;
        width: 90%;
    }
    .photoContent{
        width: 100%;
    }
    .payment{
        flex-direction: column;
    }
}